<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel= "stylesheet" href="stylesheets/style.css">
</head>
<div>
	<img src = "http://www.metalinjection.net/wp-content/uploads/2014/08/Giraffe-Tongue-Orchestra.jpg" id= "giraffe">
	<div class = "block">
		<h3>Giraffe</h3>
		<p>Sick night yesterday bruuu!</p>
	</div>
</div>
<div>
	<img src = "http://www.onekind.org/uploads/a-z/a_zImpala.jpg" id="impala">
	<div class = "block">
		<h3>Impala</h3>
		<p>Hey guys, save some ice cream for me!</p>
	</div>
</div>
<div>
	<img src = "http://www.sa-venues.com/wildlife/graphics/springbok/1.jpg" id= "springbok">
	<div class = "block">
		<h3>Springbok</h3>
		<p>The fearless mascot of South Africa's Rugby Team!</p>
	</div>
</div>
<div>
	<img src = "http://i0.wp.com/www.gotouchdowntravelandtours.com/blog/wp-content/uploads/2014/05/Kudu-by-Hans-Hillewaert.jpg" id= "kudu">
	<div class = "block">
		<h3>Kudu</h3>
		<p>If these horns aren't in style, I don't know what is</p>
	</div>
</div>
<div>
	<img src = "http://res.freestockphotos.biz/pictures/10/10006-an-elephant-in-the-wild-pv.jpg" id="elephant">
	<div class = "block">
		<h3>Elephant</h3>
		<p>Just you try to go elephant tipping!</p>
	</div>
</div>
<div>
	<img src = "http://www.theyorubablog.com/wp-content/uploads/2014/01/Leopard-Amotekun-2.jpg" id="leopard">
	<div class = "block">
		<h3>Leopard</h3>
		<p>This animal may seem like a sleepy kitten by day, but watch out for its stealth and fierceness at night!</p>
	</div>
</div>
<div>
	<img src = "http://gifts.worldwildlife.org/gift-center/Images/large-species-photo/large-Giraffe-photo.jpg" id="giraffe_second">
	<div class = "block">
		<h3>Giraffe</h3>
		<p>Tuck those bellies in, and keep those chins up ladies!</p>
	</div>
</div>
<div>
	<img src = "https://photosbyravi.files.wordpress.com/2013/03/elephant-family.jpg" id= "elephant_fam">
	<h6 class="block">Elephant</h6>
</div>
<div>
	<img src = "https://schlicks.files.wordpress.com/2010/05/img_6988.jpg" id="water_buffalo">
	<h6 class="block">Water Buffalo</h6>
</div>
<div>
	<img src = "http://www.hibiscuscoastseconds.co.za/wp-content/uploads/2015/06/Lion.jpg" id="lion">
	<h6 class="block">Lion</h6>
</div>
<div>
	<img src = "http://netstorage.discovery.com/feeds/brightcove/asset-stills/dsc/127021916008312954503701197_Baboons_Fight_for_Females.jpg" id="baboon">
	<h6 class="block">Baboon</h6>
</div>
<div>
	<img src = "https://www.awf.org/sites/default/files/media/gallery/wildlife/Plains%20Zebra/Z-Billy_Dodson_3.jpg?itok=rzMdZ7LM" id= "zebras">
	<h6 class="block">Zebra</h6>
</div>
<script>
	$("div").hover(function(){
		$($(this).find("div")).addClass("show");
	}, function (){ $($(this).find("div")).removeClass("show");});
</script>

