<h1>The 3 Most Elegant Antelope Species of South Africa</h1>
<p>Ever wondered what the differences are between a Kudu, Impala, and Springbok? Learn more about the greatest antelopes in South Africa. Don't be that idiot confused when ordering at a South African restaurant.</p>
<p>Click on one of the species below to learn more about them:</p>
<a href = "/species/Kudu">Kudu</a>
<a href = "/species/Impala">Impala</a>
<a href= "/species/Springbok">Springbok</a>
