<html>
  <head> 
    <title>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/global-style.css">
    <link rel= >
  </head>
  <body> 
    <!-- command forward slash - Navigation bar would go here -->
    <!-- <% %> to comment out ruby - better to just not have comments -->
    <%= yield %> 
  </body>
</html>