<html>
  <head> 
    <title>
    </title>
    <link rel= >
  </head>
  <body> 
    <!-- command forward slash - Navigation bar would go here -->
    <!-- <% %> to comment out ruby - better to just not have comments -->
    <%= yield %> 
  </body>
</html>